
<div class="col-md-8 offset-md-1">
    <h2>Books</h2>
    <% @books.each do |book| %>
    <table>
      <tr>
        <td>Title</td>
        <td>Opinion</td>
        <th><%= book.title %></th>
      </tr>
    </table>
    <% end %>
  </div>
